# Peer-graded Assignment:
### Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import pandas as pd

*Previous steps that we need*

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
read_table = pd.read_html(url,header=[0])
df = read_table[0]

df = df.rename(index=str, columns={'Postal Code':'PostalCode','Neighbourhood':'Neighborhood'})

df1 = pd.DataFrame(columns=['PostalCode','Borough','Neighborhood']) 
for i in range(180):
    if df.iloc[i, 1] != 'Not assigned':
        df1.loc[i]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2]]
df1.reset_index(drop=True,inplace=True)

df2 = df1.groupby('PostalCode',as_index=False).agg(lambda x: ','.join(set(x.dropna())))

for i in range(103):
    if df2.iloc[i, 2] == 'Not assigned':
        df2.iloc[i, 2] = df2.iloc[i, 1]
        
df2

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

*Read the data from the link and print them*

In [3]:
coord= pd.read_csv('http://cocl.us/Geospatial_data')
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

*Check if the postal codes are in the same order in the two datasets*

In [4]:
for i in range(103):
    if coord.iloc[i,0]!=df2.iloc[i,0]:
        print('no')

*Create the new dataset by combining the df2 and the coordinates*

In [5]:
df3 = pd.DataFrame(columns=['PostalCode','Borough','Neighborhood','Latitude','Longitude']) 
for i in range(103):
    df3.loc[i] = [df2.iloc[i,0],df2.iloc[i,1],df2.iloc[i,2],coord.iloc[i,1],coord.iloc[i,2]]
df3

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054